<body class="about">
   {% extends 'base.html' %}
   {% block page %}
      <div class="southpark">
         <h6>Компания «Sk company» является производителем и поставщиком питьевой воды в PET-бутылках
            (самый безопасный материал) в объемах 0.35, 0.5, 0.68, 1, 1,5, 4.5, 10, 18 л.
            Постоянное повышение качества и обеспечение безопасной производимой продукции, и предоставляемых
            услуг является целью каждого сотрудника и всей компании в целом. Для достижения этой цели и более
            полного удовлетворения и предвосхищения потребностей наших клиентов компания в 2011 году были внедрены
            система менеджмента качества по международному стандарту ISO 9001 и система пищевой безопасности по
            международному стандарту FSSC 22000. Пройдя сертификацию в одном из авторитетных органов по сертификации
            в мире Det Norske Veritas (DNV), компания «Sk company» стала первой обладательницей сертификата FSSC 22000 в
            Кыргызстане и в Центральной Азии, и первой обладательницей одновременно двух международных сертификатов в
            странах СНГ.</h6>
      </div>
      <div>
         <hr>
         <br/>
         <footer>
            <div style="height: 100px"></div>
            <h2>Оставьте отзыв</h2>
            <form>
               <input type="text">
               <button type="button" class="btn btn-warning">Отправить</button>
            </form>
         </footer>
      </div>
   {% endblock %}
</body>