<body class="order_form">
{% extends 'base.html' %}
{% block page %}
    <form method="post">
      {% csrf_token %}
          <div><input name="name" type="text" placeholder="Название напитка"></div>
          <div><input name="address" type="text" placeholder="Адресс"></div>
          <div><input name="contacts" type="text" placeholder="Ваш номер"></div>
          <div><textarea name="description" cols="30" rows="10" placeholder="Описание"></textarea></div>
      <button type="submit" class="btn btn-seccess">Оформить заказ</button>
    </form>
{% endblock %}
</body>
